@{
    ViewBag.Title = "软件学院奖学金管理系统";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <h2>
                School of Software,
                <br />
                Scholarship Management System.
            </h2>
        </div>
    </section>
}
<h3>欢迎使用!</h3>
