<html>
<body>
    <link rel=stylesheet type="text/css" href="../Content/Switch.css">
    <div>
        <div style="float:left">
        <span>班级打分</span>
        </div>
        <div class="switch" style="float:left">
	    <input type="checkbox" style="width:180px;height:50px">
	    <label><i></i></label>
        </div> 
        <div style="clear:both"></div>
    </div>
    <div>
        <div style="float:left">
        <span>公示</span>
        </div>
        <div class="switch" style="float:left">
	    <input type="checkbox" style="width:180px;height:50px">
	    <label><i></i></label>
        </div> 
        <div style="clear:both"></div>
    </div>
    
</body>
</html>